.articles--card_list {
    padding-left: 0%;
}

.article--card {
    display: grid;
    grid-template-areas:
    "title title"
    "author topic"
    "created_at comments"
    "votes button";
    list-style-type: none;
    border: 3px solid #507a8d;
    border-radius: 5px 50px 50px 5px;
    background-color: #adcad6;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 0.25%;
    padding-right: 0.25%;

}

.article--card--title {
    grid-area: title;
    margin-top: auto;
    margin-bottom: auto;
}

.article--card--author {
    grid-area: author;
    margin-top: auto;
    margin-bottom: auto;
}

.article--card--topic {
    grid-area: topic;
    margin-top: auto;
    margin-bottom: auto;
}

.article--card--created_at {
    grid-area: created_at;
    margin-top: auto;
    margin-bottom: auto;
}

.article--card--comments {
    grid-area: comments;
    margin-top: auto;
    margin-bottom: auto;
}

.article--card--votes {
    grid-area: votes;
    margin-top: auto;
    margin-bottom: auto;
}

.article--card--button {
    grid-area: button;
}

@media screen and (min-width: 600px) {
    .articles--card_list {
        display: flex;
        flex-flow: row wrap;
    }
    .article--card {
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width: 300px) {
    .articles--card_list {
      font-size: small;
    }
  }