.nav--bar {
  text-align: center;
  display: grid;
  grid-template-areas:
  "home users articles topics";
}

.nav--link--home {
  grid-area: home;
  padding: 1%;
  color: black;
  border: 3px solid #507a8d;
  border-radius: 5px 50px 50px 5px;
  background-color: #adcad6;
}

.nav--link--users {
  grid-area: users;
  padding: 1%;
  color: black;
  border: 3px solid #507a8d;
  border-radius: 5px 50px 50px 5px;
  background-color: #adcad6;
}

.nav--link--articles {
  grid-area: articles;
  padding: 1%;
  color: black;
  border: 3px solid #507a8d;
  border-radius: 5px 50px 50px 5px;
  background-color: #adcad6;
}

.nav--link--topics {
  grid-area: topics;
  padding: 1%;
  color: black;
  border: 3px solid #507a8d;
  border-radius: 5px 50px 50px 5px;
  background-color: #adcad6;
}