.title--body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title--title {
    background-color: #FFECD1;
    text-align: center;
    color: #001524;
    width: 100%;
}

.title--username {
    background-color: #FFECD1;
    text-align: center;
    color: #001524;
}