.title--body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title--title {
    background-color: #F18F01;
    text-align: center;
    color: #001524;
    width: 100%;
    margin-bottom: 0%;

}

.title--username {
    background-color: #F18F01;
    text-align: center;
    color: #001524;
    margin-bottom: 0%;

}